---
import Layout from "../layouts/Layout.astro"
import { Button } from "@/components/ui/button"
import { ModeToggle } from "@/components/ModeToggle"
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="text-red-800">Akshay</h1>
    <Button>Akshay</Button>
    <ModeToggle client:load />
  </main>
</Layout>
